
      <nav class="navbar navbar-dark bg-primary">
          <span class="navbar-text">
            The Store
          </span>
          <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <a href="/cart">Cart</a>
            </button>
      </nav>