
  <div class="headbar">
      <div class="headwrap">
        <div class="logo"><a class="logo" href='/'><h1>TS</h1></a></div>
        <div class="name"><h1>The Store</h1></div>
        <div class="shopping"><a class='pic' href='/cart'><img src="/images/cart.png"></a></div>
    </div>
  </div>