<h1>Cart</h1>
{{#each stuff}}
<div>
  Name: {{item}},  price: ${{price}}, quantity: {{quantity}}, subTotal: {{Totalprice}}
</div>
{{/each}}

<div>
  <a href="/" class="btn btn-primary">Home</a>
</div>