    <div class="container full">
      <div class="row">
        <div class="col-sm"><h1><a href="/catalouge/spring">Spring</a></h1></div>
        <div class="col-sm"><h1>Summer</h1></div>
      </div>
      <div class="row">
          <div class="col-sm"><h1>Autumn</h1></div>
          <div class="col-sm"><h1>Winter</h1></div>
      </div>
    </div>