    <div class="container full">
      <div class="row">
        <div class="col-sm"><h1><a href="/spring"><img src="/images/spring.png" width="50%"></a><br>Spring</h1></div>
        <div class="col-sm"><h1><a href="/summer"><img src="/images/summer.png" width="50%"></a><br>Summer</h1></div>
      </div>
      <div class="row">
          <div class="col-sm"><h1><a href="/autumn"><img src="/images/autumn.png" width="50%"></a><br>Autumn</h1></div>
          <div class="col-sm"><h1><a href="/winter"><img src="/images/winter.png" width="50%"></a><br>Winter</h1></div>
      </div>
    </div>