    <div class="container full">
      <div class="row">
        <div class="col-sm spring"><h1><a href="/spring">Spring</a></h1></div>
        <div class="col-sm summer"><h1><a href="/summer">Summer</a></h1></div>
      </div>
      <div class="row">
          <div class="col-sm autumn"><h1><a href="/autumn">Autumn</a></h1></div>
          <div class="col-sm winter"><h1><a href="/winter">Winter</a></h1></div>
      </div>
    </div>