    {{!-- <div class="case">
      <div class="row">
        <div class="inline season spring"><h1><a href="/spring">Spring</a></h1></div>
        <div class="inline season summer"><h1><a href="/summer">Summer</a></h1></div>
      </div>
      <div class="row">
          <div class="inline season autumn"><h1><a href="/autumn">Autumn</a></h1></div>
          <div class="inline season winter"><h1><a href="/winter">Winter</a></h1></div>
      </div>
    </div> --}}
  {{!-- <div class="fullwrap">
    <div class="headbar">
      <div class="headwrap">
        <div class="logo"><h1>TS</h1></div>
        <div class="name"><h1>The Store</h1></div>
        <div class="shopping"><a class='pic' href='/cart'><img src="/images/cart.png"></a></div>
      </div>
    </div> --}}

    <div class="case">
      <div class="row left">
        <div class="season springfront"><h1 class="front"><a href="/spring">Spring</h1></div></a>
        <div class="season summerfront"><h1 class="front"><a href="/summer">Summer</a></h1></div>
      </div>
      <div class="row right">
          <div class="season autumnfront"><h1 class="front"><a href="/autumn">Autumn</a></h1></div>
          <div class="season winterfront"><h1 class="front"><a href="/winter">Winter</a></h1></div>
      </div>
    </div>
  </div>