
<div class="headbar longview spring">
  <div class="headwrap shortview">
    <h2>Spring</h2>
  </div>
</div>

<div class="cardholder spring">
{{#each seasonData}}

  <div class="card">
      <div>
        <a href='/spring/{{id}}'><img class = "picholder" src="{{image}}"></a>
      <div class="contents">
        <h3>{{name}}</h3>
        <p>${{price}} each</p>
      </div>
    </div>
  </div>

{{/each}}
</div>
<div>
  <a href="/">Home</a>
</div>