<div class="headbar longview Spring">
  <div class="headwrap shortview">
    <h2>Spring</h2>
  </div>
</div>

<div class="cardholder Spring">
{{#each seasonData}}

  <div class="card">
      <div>
        <a href='/Spring/{{id}}'><img class = "picholder" src="{{image}}"></a>
      <div class="contents">
        <h3>{{name}}</h3>
        <p>${{price}} each</p>
      </div>
    </div>
  </div>

{{/each}}
</div>
<div class="Spring home">
  <a href="/"><h4>Home</h4></a>
</div>